Recuperando senha
Uma solicitação de recuperação de senha foi realizada para o e-mail ({{email}})

Se você não solicitou essa recuperação, favor ignorar este e-mail

Para continuar com a recuperação de senha, utilize o token {{token}}
